<!DOCTYPE html>
<html>

<head>
    <title>Message</title>
    <script src="socket.io/socket.io.js"></script>
    <script src="./javascript/jquery-3.3.1.min.js"></script>
    <link rel="stylesheet" href="/stylesheets/chat.css">
    <link rel="stylesheet" href="/stylesheets/fontawesome/css/all.min.css">
    <link rel="shortcut icon" href="./images/appchat-icon.png" type="image/ico">
</head>

<body>
    <div id="container">
        <div id="left-container">
            <div id="user-online-title">
                Appchat
            </div>
            <div id="online-user-container"></div>
            <div>
                <div class="group-title">
                    <i class="fas fa-users"></i>
                    <i class="fas fa-plus" id="btn-add-group" title="Add group"></i>
                </div>
                <div class="chat-group-container"></div>
            </div>
        </div>
        <div id="right-container">
            <div id="above-chat-container">
                <div id="receiver-container"></div>
                <div class="login-username">
                    <% if (typeof user != 'undefined') { %>
                    Hello <b id="login-username"><%= user.username %></b>
                    <% } %>
                </div>
                <div id="menu">
                    <ul>
                        <li>
                            <% if (user.avatar) { %>
                            <img src="data:image/jpeg;base64,<%= user.avatar %>" alt="avatar" id="avatar" height="40px">
                            <% } else { %>
                            <img src="/images/avatar-icon.png" alt="avatar" id="avatar" height="40px">
                            <% } %>
                            <ul class="sub-menu">
                                <li><a href="/profile"> Edit profile</a></li>
                                <li><a href="/logout"> Log out</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
            <div id="message-container"></div>
            <div id="typing-container">
                <div class="input-container">
                    <input type="text" id="inp-message" placeholder="Type a message..." autofocus>
                </div>
                <!-- <div>
                    <a href="chat/video-call" target="_blank"><i class="fas fa-video" id="call-video"></i></a>
                </div> -->
                <div class="input-file">
                    <label>
                        <i class="far fa-image" title="Image"></i>
                        <input type="file" accept="image/x-png,image/gif,image/jpeg">
                    </label>
                </div>
                <div id="btn-send-mess-container">
                    <button id="btn-send-message"><i class="fas fa-paper-plane" title="Send"></i></button>
                </div>
            </div>
        </div>
        <div class="modal">
            <div class="add-group-container">
                <div class="create-new-group-title">Create new group</div>
                <div id="btn-exit-add-group">&times;</div>
                <div class="add-group-form-container">
                    <form action="/chat/add-group" method="POST">
                        <div class="user-container"></div>
                        <div class="group-name-container">
                            <label for="groupName">Group name:</label>
                            <input type="text" name="groupName" id="inp-group-name" required>
                        </div>
                        <div>
                            <input type="submit" value="Create" id="btn-apply-group">
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="edit-group">
            <div class="edit-group-container">
                <div class="create-new-group-title">Edit group<i class="fas fa-trash-alt" id="btn-delete-group" title="Delete group"></i>
                    <div class="group-creator"></div>
                </div>
                <div id="btn-exit-edit-group">&times;</div>
                <div class="add-group-form-container">
                    <form action="/chat/edit-group" method="POST">
                        <div class="user-container-to-edit"></div>
                        <div class="group-name-container">
                            <label for="groupName">Group name:</label>
                            <input type="text" name="groupName" id="inp-group-name">
                        </div>
                        <div>
                            <input type="text" class="group-id" name="groupId">
                            <input type="submit" value="Apply" id="btn-apply-edit-group">
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="view-group-members-modal">
            <div class="view-group-members-container">
                <div class="create-new-group-title">
                    Group members<i class="fas fa-sign-out-alt" id="btn-leave-group" title="Leave group"></i>
                    <div class="group-creator"></div>
                </div>
                <div id="btn-exit-view-group-members">&times;</div>
                <div class="user-container-to-view"></div>
            </div>
        </div>
        <div class="delete-group-modal">
            <div class="delete-group-container">
                <form action="/chat/delete-group" method="POST">
                    <div class="delete-group-title">Are you sure you want to delete this group?</div>
                    <input type="text" class="group-id" name="groupId">
                    <input type="button" value="Cancel" id="btn-cancel-delete-group">
                    <input type="submit" value="OK" id="btn-ok-delete-group">
                </form>
            </div>
        </div>
        <div class="leave-group-modal">
                <div class="leave-group-container">
                    <form action="/chat/leave-group" method="POST">
                        <div class="delete-group-title">Are you sure you want to leave this group?</div>
                        <input type="text" class="group-id" name="groupId">
                        <input type="button" value="Cancel" id="btn-cancel-leave-group">
                        <input type="submit" value="OK" id="btn-ok-leave-group">
                    </form>
                </div>
            </div>
    </div>
    <script src="./javascript/chat.js"></script>
</body>

</html>