<!DOCTYPE html>
<html>

<head>
    <title>Video Call</title>
    <script src="socket.io/socket.io.js"></script>
    <script src="./javascript/jquery-3.3.1.min.js"></script>
    <link rel="stylesheet" href="/stylesheets/video-call.css">
    <link rel="stylesheet" href="/stylesheets/fontawesome/css/all.min.css">
</head>

<body>
    <div id="container">
        <video width="400" controls class="video-call-container"></video>
    </div>
    <script src="./javascript/video-call.js"></script>
</body>

</html>