* {
    font-family: Arial, sans-serif;
}

.change-container {
    margin-left: 0;
    margin-right: 0;
    text-align: left;
}

.change-title {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 20px;
}

.change-input {
    padding: 5px;
    border: solid 1px #3f7dff;
    font-size: 14px;
    margin: 10px;
    border-radius: 5px;
    width: 300px;
    outline: none;
}

#btn-apply-fullname {
    cursor: pointer;
    width: 150px;
    padding: 5px;
    color: white;
    font-weight: bold;
    background-color: #67ae55;
    border-color: #3b6e22;
}

#btn-apply-avatar {
    cursor: pointer;
    width: 150px;
    padding: 5px;
    color: white;
    font-weight: bold;
    background-color: #67ae55;
    border-color: #3b6e22;
}

#btn-apply-password {
    cursor: pointer;
    width: 150px;
    padding: 5px;
    color: white;
    font-weight: bold;
    background-color: #67ae55;
    border-color: #3b6e22;
}

.error-msg {
    margin: 53px 30px 0px 10px;
    padding-top: 1px;
    line-height: 30px;
    background-color: #ff9494;
    border-radius: 5px;
    height: fit-content;
}

.success-msg {
    margin: 53px 30px 0px 10px;
    padding-top: 1px;
    background-color: #5cb85c;
    text-align: center;
    border-radius: 5px;
    height: fit-content;
    color: white;
    padding: 20px;
}

.container-form {
    display: grid;
    grid-template-columns: 35% auto;
}

.form-title {
    padding: 10px;
    font-size: 14px;
}

.avatar-container {
    display: flex;
    padding-left: 10px;
}

.input-file-container {
    margin-left: 20px;
    line-height: 100px;
}

.input-file-container input {
    width: 170px;
}

.login-username i {
    font-size: 25px;
    vertical-align: middle;
    color: #585858;
    margin: 0px 20px;
    cursor: pointer;
}

.login-username i:hover {
    color: #000;
}