* {
    font-family: Arial, sans-serif;
}

.change-password-container {
    margin-left: 0;
    margin-right: 0;
    text-align: left;
}

.change-password-title {
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 20px;
}

.change-password {
    padding: 5px;
    border: solid 1px #3f7dff;
    font-size: 20px;
    margin: 10px;
    border-radius: 5px;
    width: 300px;
    outline: none;
}

#btn-apply {
    cursor: pointer;
    width: 150px;
    padding: 5px;
    color: white;
    font-weight: bold;
    background-color: #67ae55;
    border-color: #3b6e22;
}

.error-msg {
    margin: 95px 30px 0px 10px;
    padding-top: 1px;
    line-height: 30px;
    background-color: #ff9494;
    border-radius: 5px;
    height: fit-content;
}

.success-msg {
    margin: 95px 30px 0px 10px;
    padding-top: 1px;
    background-color: #5cb85c;
    text-align: center;
    border-radius: 5px;
    height: fit-content;
    color: white;
    padding: 20px;
}

.container-form {
    display: grid;
    grid-template-columns: 35% auto;
}

.form-title {
    padding: 10px;
    font-size: 20px;
}

.avatar-container {
    padding-left: 30%;
}