* {
    box-sizing: border-box;
}

html, body {
    margin: 0px;
    font-size: 16px;
    height: 100vh;
    font-family: Arial, sans-serif;
}

#container {
    display: grid;
    grid-template-columns: 20% 80%;
    height: 99%;
    min-width: 550px;
    min-height: 450px;
}

#left-container {
    text-align: center;
    border-right: solid 1px #7573733a;
    display: grid;
    grid-template-rows: 55px 400px auto;
}

#online-user-container {
    overflow: auto;
    max-height: 500px;
    border-top: solid 1px #7573733a;
    border-bottom: solid 1px #7573733a;
}

#user-online-title {
    line-height: 55px;
    font-size: 25px;
    font-weight: bold;
    background-color: #001935;
    color: white;
}

.online-user {
    padding: 10px;
    font-size: 18px;
    position: relative;
    text-align: left;
}

.online-user:hover {
    background-color: #e8e8e8;
    cursor: pointer;
}

.online-user img {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    margin-right: 10px;
    vertical-align: middle;
}

.active {
    background-color: #e8e8e8;
}

#above-chat-container {
    padding: 10px 5px;
    display: flex;
    height: 55px;
    box-sizing: border-box;
}

#receiver-container {
    text-align: center;
    flex: 1;
    font-size: 20px;
    font-weight: bold;
}

.fullname {
    font-size: 15px;
    font-style: italic;
    font-weight: normal;
}

.login-username {
    margin-left: auto;
    margin-right: 5px;
    line-height: 35px;
}

#btn-logout {
    cursor: pointer;
}

#message-container {
    overflow: auto;
    padding: 20px;
    border-top: solid 1px #7573733a;
    height: calc(100vh - 55px - 40px - 1px - 1px);
}

.status-container {
    background-color: #e6e6e8;
    border-radius: 20px;
    width: fit-content;
    margin-bottom: 5px;
}

.status-container img {
    border-radius: 20px;
    vertical-align: middle;
    height: 38px;
}

.seen-container {
    border-radius: 20px;
    width: fit-content;
    margin-left: auto;
    margin-right: 0;
    padding-right: 10px;
    margin-bottom: 5px;
    font-style: italic;
}

#typing-container {
    border-top: solid 1px #3a37373a;
    display: flex;
    height: 40px;
}

#typing-container form {
    display: flex;
}

.input-container {
    position: relative;
    flex: 1;
}

.input-container i {
    position: absolute;
    color: #585858;
    cursor: pointer;
}

.input-container i:hover {
    color: #000;
}

.input-file label input {
    display: none;
}

.input-file label i {
    cursor: pointer;
    font-size: 30px;
    margin-top: 5px;
    color: #585858;
}

.input-file label i:hover {
    color: #000;
}

#inp-message {
    border: none;
    padding: 10px;
    width: 100%;
    font-size: 16px;
}

#inp-message:focus {
    outline: none;
}

#btn-send-mess-container {
    text-align: right;
    margin-left: 20px;
    height: 100%;
}

#btn-send-message {
    height: 100%;
    cursor: pointer;
    background: none;
    border: none;
    margin-right: 40px;
    outline: none;
}

#btn-send-message i {
    font-size: 30px;
    color: #585858;
}

#btn-send-message i:hover {
    color: #000;
}

.send-message {
    border-radius: 20px;
    width: fit-content;
    margin-left: auto;
    margin-right: 0;
    padding: 10px 20px;
    margin-bottom: 5px;
    background-color: #0084ff;
    color: white;
    max-width: 80%;
}

.send-message::selection {
    background-color: #e8e8e8;
}

.send-datetime {
    display: none;
    padding-top: 10px;
}

.receive-message {
    width: fit-content;
    border-radius: 20px;
    padding: 10px 20px;
    margin-bottom: 5px;
    background-color: #e8e8e8;
    max-width: 80%;
}

.receive-datetime {
    display: none;
    padding-top: 10px;
}

.send-image {
    border-radius: 20px;
    width: fit-content;
    margin-left: auto;
    margin-right: 0;
    margin-bottom: 5px;
    text-align: right;
}

.receive-image div img {
    margin-top: 10px;
    border-radius: 20px;
    height: 150px;
}

.receive-image {
    width: fit-content;
    border-radius: 20px;
    margin-bottom: 5px;
}

.send-image img {
    margin-top: 10px;
    border-radius: 20px;
    height: 150px;
}

#menu {
    text-align: left;
    height: fit-content;
    z-index: 1;
    width: 150px;
}

#menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#avatar:hover {
    background-color: #e8e8e8;
    cursor: pointer;
}

#menu ul li>.sub-menu {
    display: none;
}

#menu ul li:hover .sub-menu {
    display: block;
}

#avatar {
    border-radius: 5px;
    border: solid 1px #e8e8e8;
}

.sub-menu {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

.sub-menu li {
    border: solid 1px #a5a5a58f;
    background-color: #f1f1f1;
    font-size: 16px;
    border-radius: 5px;
    margin: 0;
}

.sub-menu li:hover {
    cursor: pointer;
    background-color: #b4b4b4;
}

.sub-menu li a {
    text-decoration: none;
    color: black;
    display: block;
    line-height: 30px;
    height: 30px;
    text-align: left;
    padding-left: 10px;
}

.waiting-message {
    background-color: #c6fdc6;
    font-weight: bold;
}

.online-status {
    background-color: #888888;
    border: gray;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    position: absolute;
    top: 25px;
    right: 15px;
}

/* #call-video {
    cursor: pointer;
    font-size: 30px;
    margin-top: 5px;
    color: #585858;
    margin-right: 25px;
} */

/* #call-video:hover {
    color: #000;
} */

.chat-group-container {
    overflow: auto;
    max-height: 150px;
    border-bottom: solid 1px #7573733a;
}

.group-title {
    border-bottom: solid 1px #7573733a;
    display: flex;
    padding: 10px;
    font-size: 16px;
    font-weight: bold;
    margin-left: 20px;
}

.group-title i {
    font-size: 25px;
}

.chat-group {
    padding: 20px;
    font-size: 18px;
    border-bottom: solid 1px #7573733a;
}

.chat-group:hover {
    background-color: #e8e8e8;
    cursor: pointer;
}

#btn-add-group {
    margin-right: 20px;
    text-align: right;
    flex: 1;
    color: #585858;
}

#btn-add-group:hover {
    cursor: pointer;
    color: #000;
}

.modal {
    display: none;
    background-color: rgb(0, 0, 0, 0.5);
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    z-index: 1;
    position: fixed;
}

.add-group-container {
    width: 50%;
    height: 60%;
    background-color: #f1f1f1;
    margin: 10% auto;
    position: relative;
    text-align: center;
    min-height: 350px;
}

#btn-exit-add-group {
    position: absolute;
    top: 0px;
    right: 5px;
    font-size: 30px;
    color: #585858;
}

#btn-exit-add-group:hover {
    color: #000;
    cursor: pointer;
}

.create-new-group-title {
    padding: 10px;
    font-size: 25px;
    font-weight: bold;
    border-bottom: solid 1px #7573733a;
}

.user-container {
    max-height: 250px;
    overflow: auto;
}

.user-group {
    padding: 20px 20%;
    border-bottom: solid 1px #7573733a;
    text-align: left;
    font-size: 18px;
}

input[type="checkbox"] {
    width: 20px;
    height: 20px;
    cursor: pointer;
    margin-right: 10px;
    vertical-align: middle;
}

.group-name-container {
    padding: 10px;
    border-top: solid 1px #7573733a;
    border-bottom: solid 1px #7573733a;
}

.group-name-container label {
    font-weight: bold;
}

#inp-group-name {
    padding: 5px;
    border-radius: 5px;
}

#btn-apply-group {
    margin: 5px 0px;
    padding: 5px 20px;
    border-radius: 5px;
    color: white;
    background-color: #67ae55;
    font-size: 18px;
}